<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.redoxi.de/ruste/grammar/Rust" 
       class = "de.redoxi.ruste.rust.RustPackage"
       genModel = "model/generated/Rust.genmodel" /> 
	
  </extension>



</plugin>
