<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright 2013 Hayden Smith
  
 Licensed under the Apache License, Version 2.0 (the "License"); 
 you may not use this file except in compliance with the License. 
 You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software distributed under 
 the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
 either express or implied. See the License for the specific language governing permissions and 
 limitations under the License.
-->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Rust editor"
            extensions="rs"
            icon="icons/rust-logo.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.redoxi.ruste.core.editors.RustEditor"
            id="de.redoxi.ruste.editors.RustEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.redoxi.ruste.category.wizards"
            name="Rust">
      </category>
      <wizard
            canFinishEarly="false"
            category="de.redoxi.ruste.category.wizards"
            class="de.redoxi.ruste.core.project.NewProjectWizard"
            icon="icons/rust-logo.png"
            id="de.redoxi.ruste.wizard.new.rust"
            name="Rust project">
      </wizard>
   </extension>
   <extension
         id="de.redoxi.ruste.core.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.redoxi.ruste.core.natures.RustProjectNature">
         </run>
      </runtime>
      <builder
            id="de.redoxi.ruste.core.projectBuilder">
      </builder>
   </extension>
   <extension
         id="de.redoxi.ruste.core.projectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="de.redoxi.ruste.core.builders.IncrementalRustProjectBuilder">
         </run></builder>
   </extension>
   <extension
         id="de.redoxi.ruste.core.markers.compileerrormarker"
         name="Compile error"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="de.redoxi.ruste.core.markers.compilewarningmarker"
         name="Compile warning"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>

</plugin>
